<%- include('../../layouts/head.ejs') %>
</head>
<body>
    <div class="wrapper">
        <%- include('../../layouts/topbar.ejs') %>
        <%- include('../../layouts/navigation.ejs') %>
        <div class="content-page">
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <h4 class="page-title">Add Menu</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <form method="post" action="/admin/menu/menu-add">
                                <div class="mb-3">
                                    <label class="form-label">Menu Title</label>
                                    <input type="text" name="title" class="form-control" required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Menu URL</label>
                                    <input type="text" name="url" class="form-control" required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Order</label>
                                    <input type="number" name="order" class="form-control" value="1" required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Parent Menu</label>
                                    <select name="parent" class="form-control">
                                        <option value="">Ana Menü</option>
                                        <% menus.forEach(function(menu) { %>
                                            <option value="<%= menu._id %>"><%= menu.title %></option>
                                        <% }) %>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Menu Group</label>
                                    <select name="group" class="form-control" required>
                                        <option value="header">Header</option>
                                        <option value="footer">Footer</option>
                                        <option value="sidebar">Sidebar</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary">Add Menu</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../../layouts/end.ejs') %>
    </div>
</body>